<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%include "cabecerPrincipal.html"%}
    <h1>Mi lista de tareas</h1> 
    <ol>
        {%for Tarea in listado%}
             {%if Tarea != 'Aprender Django'%}
                   <li>{{Tarea | upper}}</li>
             {%else%}
                <li style="color:rgb(82, 38, 38); font-size: 25px;">{{Tarea | upper}}</li>

             {%endif%}
        {%endfor%}
    </ol>
</body>
</html>